<web-app>

<servlet>
<servlet-name>demo</servlet-name>
<servlet-class>com.ser.LoginServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>demo</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>demo1</servlet-name>
<servlet-class>com.ser.RegServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>demo1</servlet-name>
<url-pattern>/Regservlet</url-pattern>
</servlet-mapping>


 


</web-app>